QDialog QPushButton{
	background:#000;
        color:#fff;
        border-radius:7px;
	padding:3px;
}

QDialog QPushButton:hover{
	background:#DBDBDB;
	color:#fff;
}


QDialog QLineEdit{
	border-radius:7px;
	background:#DBDBDB;
	color:#000;
}


.sidebar{
	background:#000;
	border-radius:7px;
}


.sidebar_buttons{
	background:#000;
	border-radius:7px;
	padding:5px;
}

.sidebar_buttons:hover{
	background:#DBDBDB;
}


.money_display{
	border-radius:7px;
	background:#DBDBDB;
}

.identifier_money{
        color:#fff;
}
