QMainWindow{
  background:#F0F0E7;
}

QChartView{
  border-radius:7px;
}

QDialog{
  background:#F0F0E7;
  color:#fff;
}


QDialog QPushButton{
	background:#000000;
        color:#F2EDEC;
        border-radius:7px;
	padding:3px;
}

QDialog QPushButton:hover{
	background:#212121;
	color:#F2EDEC;
}


QDialog QLineEdit{
	border-radius:7px;
	background:#FFF;
	color:#000;
}


.sidebar{
	background:#000000;
	color:#fff;
	border-radius:7px;
}


.sidebar_buttons{
	background:#000000;
	border-radius:7px;
	padding:5px;
}


.sidebar_buttons:hover{
	background:#212121;
}


.money_display{
	border-radius:7px;
	background:#F2EDEC;
	border:solid 2px #000;
}

.identifier_money{
        color:#fff;
}

.pie_style{
  background:#fff;
  border-radius:7px;
}

.bar_style{
  background:#fff;
  border-radius:7px;
}


.cards_contain{
  background:#fff;
  color:#000;
  border-radius:7px;
}
