QMainWindown{
  background: #f0efef;
}

.settings_Buttons{
  background:#000;
  color:#fff;
  padding: 5px;
  border-radius: 7px;
}

.settings_Buttons:hover{
  background: #7c7a7a;
  color: #fff;
}


.place_holder{
  border-style:outset;
  border-color: 1px 1px 1px #000;
  border-radius: 7px;
  background: #e6e6e6;
  padding: 5px;
}

.general_charts{
  background: #e6e6e6;
  border-radius: 7px;
}